/* Cool Poppins front family from google*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;


}
/* Background video */
body #myVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    font-family: 'Poppins', sans-serif;
  }
  
header{
  padding: 2px;
  text-align: center;
    color:#020e14;

    
}
 
  .list-group {
      background-color: rgb(235, 231, 231, .3);
  }
  
  /*All the tiny words*/
  ul li,form,p  {
      border: black;
  }


  ul #listcity{
     margin-top: 5px;
     margin-bottom: 5px;
  }
  
 /*How the saved cities appear*/
  section button{
  width: 252px;
  height: 40px;
  background-color: rgb(79, 200, 236, .3);
  }
  
  /*When you hover over the saved cities area*/
  section button:hover{
    background-color:rgb(79, 200, 236);
  }
  
  li{
      height: 50px;
      text-align: center;
      font-size: 20px;
      font-style: italic;
  }
  
  ul p{
      font-size: 20px;
      font-weight: bolder;
  }
  h6,h5{
      font-weight: bold;
  }
  
  div #forescast{
    padding-top: 1px;
    padding-bottom: 30px;
  }
  
  /*This is shows Todays report*/
  div .card-body{
      background-color: rgb(205, 232, 245, .9);
      color: black;
  }
  
  /*card boarder color*/
  .col-sm .card{
     height: 350px;
     width: 140px;
     padding:20px;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid black;
  }
  
  .col-sm .card div{
    text-align: center;
    font-size: 0.9em;
    
  }
  /*5 Day forecast high low area*/
  .col-sm .card p{
    text-align: left;
    font-size: 0.8em;
    color: black;
    font-weight: bold;
    
  }
  /*5 Day Forecast header*/
  h5{
  color: #ffffff;
   border: 1px solid black;
   text-align: center;
   background-color: rgb(67, 71, 75,.3);
   margin-top: 5px;
   padding: auto;
   border-radius: 10px;
  }
  
  #weathericon{
  width: 100px;
  }
  
  .card-body, #five-day{
    padding: 1px 0 1px 10px;
    margin: -30px -150px 25px 0 ;
  }

  /*City Search Bar*/
  .col-sm-3{
    margin: -30px  25px 9px ;
  }
  /*This is the styling behind the other 5 day forecast*/
  .five-cards{
    background-color: rgb(205, 232, 245,.6);
  }
  /*Text on top of each 5 day forecast card*/
   .col-sm div {
     color: black;
   }

   /*This is the color change when you hover over the 5 day forecast*/
   .five-cards:hover{
     background-color: rgb(79, 200, 236);
    }
/*Clear history button color*/
    #clearhist{
     background-color: rgb(14, 1, 1, .6);
   }
   /*Color change when hovering over the clear history button*/
   #clearhist:hover{
     background-color: rgb(79, 200, 236);
     color: black
   }

   /*Search magnifying glass*/
   .btn{
     background-color: rgba(27, 189, 211, 0.3);
     color: black;
     font-size: 15px;
   }

   /*When hovering over the search button*/
   .btn:hover{
     background-color: rgb(79, 200, 236);
   }
   
  #cityenter{
    padding: 20px ;
  }


